<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <h1>Welcome to <%=title %></h1>
    <p><%= response.coords %></p>
    <script src="js/getCurrentLocation.js"></script>
  </body>
</html>
